/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.icon {width: 1em;}

.postStatus {position: relative; min-height: 2em;}
.postDate {position: absolute; left: 0;}
.postLike {position: absolute; right: 0;}

.card-text {min-height: 5rem;}
.cmmts {position: absolute; bottom: 0;}

#profile {align-items: center; text-align: center; justify-content: center; height: 70vh; display: flex; flex-direction: column;}
#PostL {display: flex;}
.show {display: flex}
.hide {display: none;}

.btn-logout { position: absolute; top: 4em; right: 2em;}